﻿@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Data Broker</title>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/lodash.js/lodash.js"></script>

    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

    <script src="~/lib/font-awesome/js/all.js"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <script src="~/lib/bootstrap-select/js/bootstrap-select.js"></script>
    <link href="~/lib/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />

    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Data Broker</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Policy" asp-page="/Manage/Policy">Policy</a>
                            </li>
                        }
                    </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - Data Broker
            </div>
        </footer>

        @RenderSection("Scripts", required: false)
    </body>
</html>
