﻿@model IEnumerable<DataSharingPolicy>

@{
    Layout = null;
}

<div id="dsp-list" class="mt-3">
    @Html.EditorFor(m => m)

    <div class="card">
        <div class="card-body">
            <p class="card-text">
                <i class="fas fa-plus mr-2"></i><span id="add-dsp">Click here to add</span> a new data sharing policy.
            </p>
        </div>
    </div>
</div>

<script>
    var MODEL_COUNT = @Model.Count();
</script>
<script src="~/js/components/data-sharing-policies.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/components/data-sharing-policies.css" />